@import url('./cursorAnimation.css');
@import url('./modal.css');

:root {
    --primary-solid: #242424;
    --primary-700: rgba(36, 36, 36, 0.7);
    --dark-bg-color: #000000;
    --console-font-color: #D0CFCC;

}

body {
    font-family: monospace;
    background-color: var(--dark-bg-color);
    font-size: 1.1rem;
    margin: 0;

}

header {
    background-color: var(--primary-solid);
    color: white;
    border-radius: 10px 10px 0px 0px;
    height: 4.5vh;
    min-height: 40px;
    text-align: center;
    font-weight: bold;
}

header>p {
    padding-top: 0.7vh;
    margin: 0;
}

.console {
    margin: 0 2vw 0 2vw;
    margin-top: 2vh;
}

.console-text {
    color: var(--console-font-color);
}

.console-user {
    color: #fff;
    font-weight: bold;
}

#name-small {
    display: none;
}

#tux {
    height: 10vh;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

@media only screen and (min-width: 0px) and (max-width: 825px) {

    .cursor {
        display: none !important;
    }

    #name-big {
        display: none;
    }

    #name-small {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    #name-small>pre {
        margin: 0;
    }

    #tux {
        position: static;
        max-height: 50px;
        max-width: 50px;
    }

    footer {
        position: static;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        min-height: 50px;
    }
}